@model Homeworkapp.Models.Zadanie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Zadanie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Przedmiot.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przedmiot.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zjazd.Numer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zjazd.Numer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Termin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Termin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZadanieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
