@model IEnumerable<Homeworkapp.Models.Zadanie>

@{
    ViewBag.Title = "Edytor zadań";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytor zadań</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zjazd.Numer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Termin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zjazd.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Termin)*@
            @String.Format("{0:d}", item.Termin)
        </td>
        <td>
            <p>@Html.ActionLink("Edit", "Edit", new { id = item.ZadanieID })</p>
            <p>@Html.ActionLink("Details", "Details", new { id = item.ZadanieID })</p>
            <p>@Html.ActionLink("Delete", "Delete", new { id = item.ZadanieID }, new { @style = "color:red;" })</p>
        </td>
    </tr>
}

</table>
