@*@using Homeworkapp.Models*@
@{
    ViewBag.Title = "Homeworkapp";
}

<div class="jumbotron transparent">
        @Html.Partial("LoginPartial")
        
    @*<ul>
            Tylko Administrator
            <li>@Html.ActionLink("RoleAdmin", "Index", "Roles")</li>
            <hr />
            Administrator i Moderator
            <li>@Html.ActionLink("PrzedmiotAdmin", "Index", "Przedmiot")</li>
            <li>@Html.ActionLink("ZjazdAdmin", "Index", "Zjazd")</li>
            <li>@Html.ActionLink("ZadanieAdmin", "Index", "Zadanie")</li>
            <li>@Html.ActionLink("KolokwiumAdmin", "Index", "Kolokwium")</li>
            <li>@Html.ActionLink("EgzaminAdmin", "Index", "Egzamin")</li>
            <hr />
            Wszyscy użytkownicy
            <li>@Html.ActionLink("ListaZjazdow", "Index", "ListaZjazdow")</li>
            <li>@Html.ActionLink("ListaZadan", "Index", "ListaZadan") @ViewBag.ZliczoneZadania</li>
            <li>@Html.ActionLink("ListaKolokwiów", "Index", "ListaKolokwiow") @ViewBag.ZliczoneKolokwia</li>
            <li>@Html.ActionLink("ListaEgzaminów", "Index", "ListaEgzaminow") @ViewBag.ZliczoneEgzaminy</li>
        </ul>*@
</div>

