@model Person.Models.Human

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Human</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YoB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YoB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<human-information info=@Model />

<div condition="@(Model.YoB > 2001)">
    <p>
        Almost adult
    </p>
</div>

@{ var adres = new Address() { Street = "Morska", Town = "Gdynia", Code = "123456" };}

@Html.Partial("_Address", adres)