@model IEnumerable<Homeworkapp.Models.Kolokwium>
@{
    ViewBag.Title = "Edytor kolokwiów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytor kolokwiów</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Termin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Przedmiot.Nazwa)
            </td>
            <td>
                @String.Format("{0:d}", item.Termin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KolokwiumID }) |
                @Html.ActionLink("Details", "Details", new { id = item.KolokwiumID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KolokwiumID })
            </td>
        </tr>
    }

</table>
